<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body class="no-margin">
  <div class="wrapper">
    <div class="movie_text">
  <P>映画</p>
  </div>
    <button class="pill" type="button">Member? Sign in</button>
    <button class="pill" type="button">30-day free trial</button>
  </div>
</body>
</html>
