<body id="login-body">
<div class="container">
    <section class="login_display">
        <form action="/user/login" method="POST" class="login-form">
        <h2>Log in page</h2>
        <div class="login_view">
            <div class="login">
                <span class="login-text sign_text">Log in</span>

                <!-- Användarnamn -->
                <div class="email">
                <input type="text" id="email" name="username" class="input-field" placeholder="Email" autocomplete="off" required>
                <label for="email" class="input-label">Email</label>
                </div>

                <!-- Lösenord -->
                <div class="password">
                <input type="text" id="password" name="password" class="input-field" placeholder="Password" autocomplete="off" required>
                <label for="password" class="input-label">Password</label>
                </div>

                <button type="submit" class="login_button button">Log in</button>

                <button type="button" class="forgot_button button">
                    <span class="button_text">Forgot password?</span>
                </button>
            </div>
            <div class="sign_in">
                <span class="login-text sign_text">Dont have an Subscruption?</span>

                <button type="button" class="subscribe_button button" onclick="window.location.href='/user/register'">Subscribe</button>
                <button type="button" class="forgot_button button">
                    <span class="button_text">Continue as guest</span>
                </button>
            </div>
        </div>
        </form>
    </section>
</div>
