<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">

    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <title>Document</title>
</head>
<body id="register-body">


<div class="container">
    <section class="login_display">
        <form action="/user/register" method="POST" class="login-form">
            <div class="login_view">
                <div class="login">
                    <span class="login-text sign_text">Register</span>

                    <!-- Användarnamn -->
                    <div class="email">
                    <input type="text" id="email" name="username" class="input-field" placeholder="Email" autocomplete="off" required>
                    <label for="email" class="input-label">Email</label>
                    </div>

                    <!-- Lösenord -->
                    <div class="password">
                    <input type="text" id="password" name="password" class="input-field" placeholder="Password" autocomplete="off" required>
                    <label for="password" class="input-label">Password</label>
                    </div>

                    <button type="submit" class="login_button button">Register</button>
                </div>
            </div>
        </form>
    </section>
</div>

<footer>
    <div class="footer_col">
        <h4>products</h4>
        <ul>
            <li><a aria-label="Teams" href="#">teams</a></li>
            <li><a aria-label="advertisements" href="#">advertisements</a></li>
            <li><a aria-label="Talent" href="#">talent</a></li>
        </ul>
    </div>
    <div class="footer_col">
        <h4>Company</h4>
        <ul>
            <li><a aria-label="Work" href="#">Work</a></li>
            <li><a aria-label="About" href="#">About</a></li>
            <li><a aria-label="Legal" href="#">Legal</a></li>
            <li><a aria-label="Contact us" href="#">Contact us</a></li>
        </ul>
    </div>
    <div class="footer_col">
        <h4>network</h4>
        <ul>
            <li><a aria-label="Raters" href="#">Raters</a></li>
            <li><a aria-label="License" href="#">License</a></li>
            <li><a aria-label="Buisiness" href="#">Buisiness</a></li>
            <li><a aria-label="Events" href="#">Events</a></li>
            <li><a aria-label="API" href="#">API</a></li>
        </ul>
    </div>
    <div class="footer_col">
        <img src="/img/Ponyo2.png" alt=""  width="250" height="auto">
        <div class="links">
            <a aria-label="Linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
            <a aria-label="Facebook" href="#"><i class="fab fa-facebook-f"></i></a>
            <a aria-label="Twitter" href="#"><i class="fab fa-twitter"></i></a>
            <a aria-label="Instagram" href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>
    
</body>
<script src="/js/main.js"></script>
</html>