<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>
<body id="index-body">
    <header class="primary-header flex">
        <div class="logo">
        </div>

        <button aria-label="open navigation" class="mobile-nav-toggle" aria-controls="primary-navigation " aria-expanded="false" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </button>

            <nav>
                <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">

                    <% if session[:role] == 'user'%>
                        <li><a aria-label="Home" href="/">Home</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li><a aria-label="Movies" href="/movies">Movies</a></li>
                    <% elsif session[:role] == 'admin'%>
                        <li><a aria-label="Home" href="/">Home</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li><a aria-label="Movies" href="/movies">Movies</a></li>
                        <li><a aria-label="Dashboard" href="/admin/dashboard">Dashboard</a></li>
                    <% else %>
                        <li><a aria-label="Home" href="/">Home</a></li>
                        <li><a aria-label="Movies" href="/movies">Movies</a></li>
                        <li><a aria-label="login" href="/movie/login">Log in</a></li>
                    <% end %>
                </ul>
            </nav>
    </header>
    <div class="overlay">
        <div class="overlay-header">
            <div class="col">
                <h1 id="item-name">Item Name</h1>
                <h2 id="item-category">Item Item-Category</h2>
            </div>
            <div class="col">
                <p id="close-btn">Close</p>
            </div>
        </div>
        <div class="item-details">
            <p>
            <a href="#" id="item-link">
                <i class="ph-bold ph-arrow-up-right"></i>
                    View Site</a>
            </p>
            <div class="item-copy">
            <p id="item-copy">Lorem ipsum, dolor sit 
                amet consectetur adipisicing elit. 
                Optio expedita necessitatibus eligendi vero
                 sint molestias nobis ducimus, quod porro dolore, 
                 nesciunt earum quisquam deserunt nihil alias fuga 
                 in maiores magnam!
            </p>
            </div>
        </div>
        <div class="img-container">
            <div class="gradiant"></div>
            <img src="/img/action.jpg" id="item-img" alt="">
        </div>
    </div>
    <div class="wrapper">
        <section class="section1">
            <h1>AsiaCieRate</h1>
            <h2>Explore the east</h2>
        </section>
        <section class="section2">
        <h2>Select genre</h2>
        <div class="items">
            <div class="item">
                <div class="item-index">01</div>
                 <div class="item-name">Horror</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">02</div>
                 <div class="item-name">Action</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">03</div>
                 <div class="item-name">Drama</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">04</div>
                 <div class="item-name">Comedy</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">05</div>
                 <div class="item-name">Romance</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">06</div>
                 <div class="item-name">Science</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">07</div>
                 <div class="item-name">Thriller</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">08</div>
                 <div class="item-name">Animation</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">09</div>
                 <div class="item-name">Mystery</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">10</div>
                 <div class="item-name">Crime</div>
                 <div class="item-type">Movie genre</div>
            </div>
        </div>
    </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</body>
<script src="/js/index.js"></script>
</html>