<body id="index-body">
    <div class="overlay">
        <div class="overlay-header">
            <div class="col">
                <h1 id="item-name">Item Name</h1>
                <h2 id="item-category">Item Item-Category</h2>
            </div>
            <div class="col">
                <p id="close-btn">Close</p>
            </div>
        </div>
        <div class="item-details">
            <p>
            <a href="#" id="item-link">
                <i class="ph-bold ph-arrow-up-right"></i>
                    View Site</a>
            </p>
            <div class="item-copy">
            <p id="item-copy">Lorem ipsum, dolor sit 
                amet consectetur adipisicing elit. 
                Optio expedita necessitatibus eligendi vero
                 sint molestias nobis ducimus, quod porro dolore, 
                 nesciunt earum quisquam deserunt nihil alias fuga 
                 in maiores magnam!
            </p>
            </div>
        </div>
        <div class="img-container">
            <div class="gradiant"></div>
            <img src="/img/action.jpg" id="item-img" alt="">
        </div>
    </div>
    <div class="wrapper">
        <section class="section1">
            <h1>AsiaCieRate</h1>
            <h2>Explore the east</h2>
        </section>
        <section class="section2">
        <h2>Select genre</h2>
        <div class="items">
            <div class="item">
                <div class="item-index">01</div>
                 <div class="item-name">Horror</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">02</div>
                 <div class="item-name">Action</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">03</div>
                 <div class="item-name">Drama</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">04</div>
                 <div class="item-name">Comedy</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">05</div>
                 <div class="item-name">Romance</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">06</div>
                 <div class="item-name">Science</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">07</div>
                 <div class="item-name">Thriller</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">08</div>
                 <div class="item-name">Animation</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">09</div>
                 <div class="item-name">Mystery</div>
                 <div class="item-type">Movie genre</div>
            </div>
            <div class="item">
                <div class="item-index">10</div>
                 <div class="item-name">Crime</div>
                 <div class="item-type">Movie genre</div>
            </div>
        </div>
    </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
</body>
<script src="/js/index.js"></script>
</html>